header {
    background-color: mediumturquoise;
    color: red;
    text-align: center;
    display: block;
    height: 80px;
    min-width: 600px;
}

header h1{
    display: inline-block;
}
.navigation{
    padding: 5px 0;
    background-color: royalblue;
}

.navigation li {
    margin-right: 50px;
    list-style-type: none;
    display: inline;
    color: silver;
  }