#input-field {
  display: flex;
  align-items: center;
}

#load-photo-field {
  margin-bottom: 15px;
}

#meme-image-container {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: fit-content;
  max-width: 400px;
  border: 1px solid black;
  background-color: white;
}

#meme-image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#meme-text {
  position: absolute;
  bottom: 4%;
  max-width: 90%;
  max-height: 50%;
  word-wrap: break-word;
  margin-left: 5%;
  margin-right: 5%;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.elementBttn {
  color: white;
  font-size: 25px;
  margin: 10px;
}

#memes-suggestions {
  display: flex;
  justify-content: space-between;
  width: 700px;
}
